@charset "UTF - 8";

/*Aula: https://www.notion.so/Box-Model-753f7ab48535466ca226ba9b26f0ba24 */

h1 /*box level*/ {
        background-color: lightcyan;
        height: 300px;
        width: 300px;
        /*Content*/

        text-align: center;

        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        /*Alterações seguindo sentido horário.*/
        /*(shorthand)padding: 10px 10px 10px 10px; seguindo sentido horário*/
        /*(shorthand)padding: 10px; define para todos*/
        /*(shorthand)padding: 10px(alt.) 20px (larg.); define para todos*/

        border-width: 10px;
        border-style: solid;
        border-color: rgb(167, 7, 7);
        /*(shorthand)border: 10px solid darkgray;*/

        outline-width: 5px;
        outline-style: dashed;
        outline-color: rgb(4, 88, 25);
        /*Linha dentro da margem*/
        /*(shorthand)outline: 5px dashed salmon*/

        margin: 20px auto 40px auto;
        /*margin: auto; (centraliza a caixa)*/
        /*Alterações seguindo sentido horário.*/

        /*(conversao para inline)display: inline;*/
      }

      p {
        text-align: center;
      }
      
      a /*inline level*/ {
        border-width: 10px;
        border-style: solid;
        border-color: red;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;

        /*(conversao para block)display: block;*/
      }